@model IEnumerable<EstudiantesAPP.Transporte.EstudianteDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutEstudiante.cshtml";
}

<h2 class="text-info">Lista de estudiantes</h2>


<!--warnings-->
@if (TempData["Exito"] != null)
{
    <div class="alert alert-success alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Éxito</strong> @TempData["Exito"]
    </div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Error</strong> @TempData["Error"]
    </div>
}
<!-- /warnig-->

<p>
    <a class="btn btn-success" asp-action="Create">Crear un nuevo estudiante</a>
</p>
@if (Model.Count()>0)
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInscripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInscripcion)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Detalle", "Details", new { id=item.Id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
    </table>
}
else
{
    <p>No hay estudiantes inscritos</p>
}